  <body>
    <div id = "wrapper"></div>
    <div id="header"><a href="\">Devlet: for beginning web developers</a></div>

    <div id="navigation">

      <ul>
        <li>Frontend</li>
  	      <ul>
  	      	<li>HTML</li>
  	      	<li>CSS</li>
  	      	<li>Javascript</li>
  	      </ul>
  	    </ul>

        <ul>
        	<li>Backend</li>
        	<ul>
  		      <li>Ruby on Rails</li>
  		      <li>Python</li>
  		      <li>PHP</li>
        	</ul>

        </ul>

        </ul>

        <ul>
  	      <li>Tracks</li>
  	      <ul>
  		      <li>Ruby on Rails</li>
  		      <li>Python</li>
  		      <li>PHP</li>
        	</ul>
  	      <li>Create a track</li>

        </ul>
    </div>

    <div id="content">
      <div id="content_text">
        <p>Contact me at colemanfoley@gmail.com
        </p>
      </div>


    </div>

  <div id="footer">
    <ul id = "footernav">
        <li><a href="/about">About</a></li><li>Contact</li>
    </ul>

  </div>

  </body>